---
const values = [
  [
    {
      ref: '01',
      name: 'Excellence',
      description:
        'At H&M Holiday Lighting, excellence is at the heart of everything we do. We take pride in delivering flawless, custom-fit installations that elevate your home’s holiday decor. From the initial design to the final light, our team is dedicated to precision, quality, and exceeding your expectations. Every detail matters, ensuring your display shines bright all season long.',
    },
    {
      ref: '02',
      name: 'Attention To Detail',
      description:
        'At H&M Holiday Lighting, we believe that every detail counts. From the precision of each light placement to the custom fit of your display, our team ensures that no aspect is overlooked. We take the time to understand your vision and execute it with care, delivering a flawless, cohesive look that enhances your home’s unique features. This commitment to detail is what sets us apart, guaranteeing a display thats as stunning up close as it is from afar.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Customer Satisfaction',
      description:
        'At H&M Holiday Lighting, your satisfaction is our top priority. We work closely with you from start to finish, ensuring that your holiday lighting vision is brought to life just the way you imagined. Our team is dedicated to providing exceptional service, clear communication, and timely installations. We go above and beyond to make sure you’re thrilled with the results, creating a stress-free experience and a stunning display that exceeds your expectations.',
    },
    {
      ref: '04',
      name: 'Quality Craftsmanship',
      description:
        'At H&M Holiday Lighting, we take pride in delivering superior quality in every installation. Our team combines expert skills with premium materials to create custom, durable displays that stand out. Each project is crafted with precision and care, ensuring a flawless finish that enhances your home’s beauty. We are committed to offering only the best, so you can enjoy a holiday display that is both visually stunning and built to last.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
